.theme_header {
  position: fixed;
  left: 0;
  right: 0;
  transition: margin-left .5s;
  z-index: 20;
  padding: 18px !important;
  background-color: #fff;
  box-shadow: 0px 5px 50px -19px #000000a1;
  background: #fff;
  border-bottom: 3px solid #a9583bad;
}

.side_menu_opener {
  font-size: 25px;
  color: #a8563a;
}

.theme_header .navbar-nav {
  padding-left: 20px;
}

.theme_header .form-inline .form-control {
  min-width: 97%;
  margin: auto;
  font-size: 0.75rem;
}

.theme_header .form-inline .search_header {
  max-width: 33%;
}

header .nav-item:last-child {
  margin-right: 30px;
}

.search_inpt input {
  padding: 3px 27px 3px 7px;
}

.search_inpt {
  position: relative;
  width: 100%;
}

.search_inpt_icon {
  position: absolute;right: 12px;
  color: #bf6c4a;
}

.advnce_srch {
  position: absolute;
  bottom: -15px;
  left: -9px;
  text-align: right;
}

.navbar {
  padding: 0
}

.menu_item_icon i {
  width: 25px;
}

/* The side navigation menu */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 330px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1001;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: -330px;
  background-color: #fff;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 5px 50px -19px #000000a1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: -22px;
  left: 0;
  font-size: 53px;
}

/* The navigation menu links */

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #4C4C4C;
  font-weight: 500;
  display: block;
  transition: 0.3s;
}

.sidenav .menu_item_icon svg {
  width: 16px;
  margin-right: 7px;
  margin-bottom: 3px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

.sidenav a.active {
  background: #BF6C4A;
  color: #fff;
}

.sidenav a.active .side-bar-svg {
  fill: #fff;
}

.sidenav .side_social_media .social_medias h6 {
  display: block;
}

.sidenav .side_social_media .social_medias ul li {
  display: inline-block;
}

.sidenav .side_social_media .social_medias ul li a {
  padding: 0 10px
}

.sidenav .side_social_media {
  padding: 9px 10px;
  background: #ababab5e;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #bf6c4a;
}

.sidenav a:hover svg path {
  fill: #bf6c4a;
}



