<main class="main_content">
  <section class="inner_page_heading terms-page-hero">
    <div class="page_name">
      <h1>Advance Search</h1>
    </div>
    <div class="hero-inner-content">
      <div class="container">
        <div class="search_header">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
          <a href="javascript:void(0)" class="search_icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
          <a href="javascript:void(0)" class="advance_search">
            Advance Search
          </a>
        </div>
        <div class="login-box">
          <input class="form-control mr-sm-2" type="f-name" placeholder="Username" aria-label="Search" />
          <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search" />
          <a href="javascript:void(0)" class="btn btn-primary primary-theme">
            Login
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="create_form_all">
    <div class="container">
      <div class="content_body">
        <ul class="nav nav-tabs" id="advance_search_main" role="tablist">
          <li>
            <a data-toggle="tab" role="tab" href="#search_profile">Search Profiles</a>
          </li>
          <li>
            <a class="active" data-toggle="tab" role="tab" href="#search_practices">Search Practices</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab" href="#search_events">Search Events</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab" href="#search_lib">Search Library</a>
          </li>
        </ul>
        <div class="tab-content">
          <div id="search_practices" class="tab-pane fade show active">
            <div class="theme_sec_body">
              <div class="sec_header">
                <h4>Search Practices</h4>
              </div>
              <div class="search_pracrices_inner_tab">
                <ul class="nav nav-tabs border-0" id="search_pracrices_inner_tab" role="tablist">
                  <li>
                    <a class="active" data-toggle="tab" role="tab" href="#Meditation_tab">Meditation</a>
                  </li>
                  <li>
                    <a data-toggle="tab" role="tab" href="#yoga_tab">Yoga</a>
                  </li>
                  <li>
                    <a data-toggle="tab" role="tab" href="#religion_tab">Religion</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div id="Meditation_tab" class="tab-pane fade show active">
                    <div class="search_lists">
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Mahayana</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Soto Zen</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Sound Healing</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Theravada</a>
                      </div>

                      <div class="each_link">
                          <img src="assets/images/link-decor.png"> <a href="javascript:void(0)">Transcendental Meditation</a>
                      </div>

                        <div class="each_link">
                          <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Triratna  </a>
                      </div>

                        <div class="each_link">
                          <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Vajrayana</a>
                      </div>

                        <div class="each_link">
                          <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Vipassana</a>
                      </div>

                        <div class="each_link">
                          <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Visualisation</a>
                      </div>

                        <div class="each_link">
                          <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Zazen</a>
                      </div>


                    </div>
                  </div>
                  <div id="yoga_tab" class="tab-pane fade ">
                    <div class="search_lists">
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Acro</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Anusara</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Ashtanga</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Baby</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Hatha</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Hormons</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Hot Yoga</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Integral</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Iyengar</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Jivamukti</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Jnana</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Kriya</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Kundalini</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Mantra</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Power</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Prenatal</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Raja</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Restorative</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Sivananda</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Therapeutic</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Therapeutic Cancer</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Therapeutic Eyes</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Vinyasa</a>
                      </div>
                      <div class="each_link">
                        <img src="../../assets/images/link-decor.png"> <a href="javascript:void(0)">Yin</a>
                      </div>
                    </div>
                  </div>
                  <div id="religion_tab" class="tab-pane fade">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="search_profile" class="tab-pane fade">
            <div class="theme_sec_body search-profile-tb">
              <div class="sec_header">
                <h4>Search Profiles</h4>
              </div>
              <small>Select at least one of the following fields:</small>
              <div class="row">
                <div class="col-lg-3">
                  <label>Account Profile</label>
                  <select id="" class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Meditation Practice</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Yoga Practice</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Religion</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Organisation Type</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Scientist Practice</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Country</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Geolocation</label>
                  <select  class="js-states form-control multiple">
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
              </div>
              <a href="javascript:void(0)" class="btn btn-primary primary-theme mt-4">
                Search Profiles
              </a>
            </div>
          </div>
          <div id="search_events" class="tab-pane fade">
            <div class="theme_sec_body search-events-tb">
              <div class="sec_header">
                <h4>Search Events</h4>
              </div>
              <small>Optional date fields:</small>
              <div class="row">
                <div class="col-lg-2 ">
                  <div class="switch_main mt-3 ">
                    <label>Online Event</label>
                    <label class="switch mt-3">
                      <input type="checkbox" id="online_event_switch">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="col-lg-3 online_event_target">
                  <label>Starting from</label>
                  <input placeholder="Pick a Date" type='text' class='datetimepicker2'>
                </div>
                  <div class="col-lg-3 online_event_target">
                    <label>Ending before</label>
                    <input placeholder="Pick a Date" type='text' class='datetimepicker2'>
                  </div>
                  <div class="col-lg-2 online_event_target">
                    <label>City</label>
                    <input >
                  </div>
                  <div class="col-lg-2 online_event_target">
                    <label>Country</label>
                    <select  class="js-states form-control multiple">
                      <option>Teacher</option>
                      <option>Public Person</option>
                      <option>Teacher</option>
                    </select>
                  </div>
              </div>
              <small>Select at least one of the following fields:</small>
              <div class="row">
                <div class="col-lg-3">
                  <label>Meditation Practice</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Religion</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Yoga Practice</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Scientist Practice</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Event Type</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Target</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Level</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Pricing Type</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>

                <div class="col-lg-3">
                  <label>Food Type</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Gender</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Language</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Sport</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
              </div>
              <a href="javascript:void(0)" class="btn btn-primary primary-theme mt-4">Search Events</a>
            </div>
          </div>
          <div id="search_lib" class="tab-pane fade">
            <div class="theme_sec_body search-profile-tb">
              <div class="sec_header">
                <h4>Search Profiles</h4>
              </div>
              <small>Select at least one of the following fields:</small>
              <div class="row">
                <div class="col-lg-3">
                  <label>Media Type</label>
                  <select id="" class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Meditation Practice</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Religion</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Yoga Practice</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Target</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Level</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Food Type</label>
                  <select  class="js-states form-control multiple" multiple>
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>Language</label>
                  <select  class="js-states form-control multiple">
                    <option>Teacher</option>
                    <option>Public Person</option>
                    <option>Teacher</option>
                  </select>
                </div>
              </div>
              <a href="javascript:void(0)" class="btn btn-primary primary-theme mt-4">Search Library</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
