/* You can add global styles to this file, and also import other style files */

/* header .nav-item:last-child {
  margin-right: 30px;
} */

/* .search_inpt input {
  padding: 3px 27px 3px 7px;
}

.search_inpt {
  position: relative;
  width: 100%;
}

.search_inpt_icon {
  position: absolute;right: 12px;
  color: #bf6c4a;
}

.advnce_srch {
  position: absolute;
  bottom: -15px;
  left: -9px;
  text-align: right;
} */

.go_to_top {
    position: fixed;
    right: 15px;
    bottom: 25px;
    z-index: 100;
    cursor: pointer;
    width: 50px;
}

.footer_icons {
  fill: #bf6c4a;
}

.inner_page_heading {
  background: linear-gradient(90deg, rgba(191, 108, 74, 0.69) 0%, rgba(165, 84, 56, 0.75) 100%), url(assets/images/inner-page-bg.png);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  box-shadow: 0px 0px 30px 5px #000000a1;
  background-size: cover;
  background-position: center;
  height: 250px;
  position: relative;
}

.terms-page-hero {
  background: linear-gradient(90deg, rgba(191, 108, 74, 0.69) 0%, rgba(165, 84, 56, 0.75) 100%), url(assets/images/terms-page-hero.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}


@media screen and (max-width:1380px) {
  .social_medias ul li {
    display: inline;
    margin: 0 4px;
  }
}

@media screen and (max-width:1236px) {
  .groupsv {
    width: 140px !important;
  }
  header .social_medias ul li {
    margin: 0 3px;
    font-size: 12px;
  }
}
