.hero_section {
  height: 550px;
  background: url(../../assets/images/bg-hero.jpg);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 30px 5px #000000a1;
  background-size: cover;
  background-position: center;
}

/* .hero-inner-content {
  position: absolute;

  top: 40%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
} */

/* .hero-inner-content .search_header {
  border: none;
}

.hero-inner-content .login-box {
  border: none;
  margin-top: 2rem;
}

.hero-inner-content .login-box .form-control {
  margin-bottom: 15px;
}

.hero-inner-content .login-box .btn-primary.primary-theme {
  display: block;
} */
